.hero__wrapper {
  background-image: url('../img/img1.png');
}
.hero {
  padding: 10rem 0 5rem;
  position: relative;
}
.hero .title {
  color: var(--sub-text-color);
}
.hero .img {
  max-width: 30rem;
}
@media screen and (min-width: 1024px) {
  .hero {
    display: flex;
    align-items: center;
  }
}
