:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --sub-text-color: #fff;
  --accent-color: red;

  --main-text-color: #000;

  --first-brand-color: #ce1b62;
  --second-brand-color: #55e8c5;
  --third-brand-color: #30062d;

  --main-font: 'Open Sans Condensed';
  --title-font: 'Encode Sans SC Expanded';

  font-size: 62.5%;
}
